<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="(keywords)">
    <meta name="description" content="(descrição)">

    <!-- main stylesheet -->
    <link rel="stylesheet" media="all" href="/styles/moments/style.css">
    <!-- main stylesheet -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="main-container">

        <!-- navigation -->
        <%- partial('navigation.ejs')%>

        <div class="main wrapper clearfix">

            <!-- Include the view file for the current controller/route -->
            <%- body %>
        </div>
    </div>

    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

    <!-- begin footer-container -->
    <div class="footer-container">
        <footer class="wrapper">

            <!-- social stuff -->
            <div id="social" class="widget">
                <a href="mailto:"><i class="fa fa-envelope fa-2"></i></a>
                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                <a href=""><i class="fa fa-facebook-square fa-2"></i></a>
                <a href=""><i class="fa fa-vimeo-square fa-2"></i></a>
                <a href=""><i class="fa fa-linkedin fa-2"></i></a>
                <a href=""><i class="fa fa-github fa-2"></i></a>
                <a href=""><i class="fa fa-rss fa-2"></i></a>
            </div>
            <!-- end social stuff -->
            <!-- Copyright & Credits-->
            <br>Theme by <a href="http://www.s5themes.com/">Site5 WordPress Themes</a>. <br />SiteJS empowered by SailsJS.
            <!-- Copyright & Credits-->
        </footer>
    </div>
    <!-- end footer-container -->
    <%-console.log(sails.config.syte.disqus.shortname)%>
    <script type="text/javascript">

        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = "<%-sails.config.syte.disqus.shortname%>"; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    </body>
</html>
